<!DOCTYPE HTML>
{% load static %}
<html lang="en">
<meta http-equiv="refresh" content="4; URL=http://127.0.0.1:8000/feed.html">
<head>
	<title>How much food to order?</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="UTF-8">


	<!-- Font -->

	<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet">


	<!-- Stylesheets -->

	<link href="{% static 'common-css/bootstrap.css' %}" rel="stylesheet">

	<link href="{% static 'common-css/ionicons.css' %}" rel="stylesheet">


	<link href="{% static 'layout-1/css/styles.css' %}" rel="stylesheet">

	<link href="{% static 'layout-1/css/responsive.css' %}" rel="stylesheet">

</head>
<body >

	<header>
		<div class="container-fluid position-relative no-side-padding">

			<a href="#" class="logo"><img src="{% static 'images/logo.png' %}" alt="Logo Image"></a>

			<div class="menu-nav-icon" data-nav-menu="#main-menu"><i class="ion-navicon"></i></div>

			<ul class="main-menu visible-on-click" id="main-menu">
				<li><a href="index.html">Home</a></li>
				<li><a href="stats.html">Food Stats</a></li>
				<li><a href="upload.html">Donate Food</a></li>
				<li><a href="org.html">Recieve Food</a></li>

        <li><a href="feed.html">Snapshot of Weekly Inventory</a></li>
			</ul><!-- main-menu -->

		</div><!-- conatiner -->
	</header>

	<!--img src="{% static 'images/veggies.jpg' %}"-->
  <style>
img.two {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 70%;
  width: 50%;
}
</style>
  <img class="two" src="{% static 'images/apples2.jpg' %}" >

  <footer>

	<div class="container">
		<div class="row">

			<div class="col-lg-4 col-md-6">
				<div class="footer-section">

					<a class="logo" href="#"><img src="{% static 'images/logo.png' %}" alt="Logo Image"></a>
					<p class="copyright">FoodZilla</p>

				</div><!-- footer-section -->
			</div><!-- col-lg-4 col-md-6 -->

			<div class="col-lg-4 col-md-6">
					<div class="footer-section">
				</div><!-- footer-section -->
			</div><!-- col-lg-4 col-md-6 -->

		</div><!-- row -->
	</div><!-- container -->
</footer>




	<!-- SCIPTS -->

	<script src="{% static 'common-js/jquery-3.1.1.min.js' %}"></script>

	<script src="{% static 'common-js/tether.min.js' %}"></script>

	<script src="{% static 'common-js/bootstrap.js' %}"></script>

	<script src="{% static 'common-js/scripts.js' %}"></script>

</body>
</html>
