<!DOCTYPE HTML>
{% load static %}
<html lang="en">
<head>
	<title>Donate food!</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="UTF-8">


	<!-- Font -->

	<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet">


	<!-- Stylesheets -->

	<link href="{% static 'common-css/bootstrap.css' %}" rel="stylesheet">

	<link href="{% static 'common-css/ionicons.css' %}" rel="stylesheet">


	<link href="{% static 'layout-1/css/styles.css' %}" rel="stylesheet">

	<link href="{% static 'layout-1/css/responsive.css' %}" rel="stylesheet">

</head>
<body >

	<header style="background-color: #5cb85c;">
		<div class="container-fluid position-relative no-side-padding">

            <p class="logo" style="font-family: Roboto; font-weight: bolder; font-size: 30px; margin-top: 5px;">FoodZilla</p>

			<div class="menu-nav-icon" data-nav-menu="#main-menu"><i class="ion-navicon"></i></div>

			<ul class="main-menu visible-on-click" id="main-menu">
				<li><a href="index.html">Home</a></li>
				<li><a href="stats.html">Food Stats</a></li>
				<li><a href="#">Donate Food</a></li>
				<li><a href="org.html">Recieve Food</a></li>
				<li><a href="feed.html">Snapshot of Weekly Inventory</a></li>
			</ul><!-- main-menu -->

		</div><!-- conatiner -->
	</header>

	<section class="blog-area section" style="background-image: url('../../static/images/bg.jpg'); background-repeat: no-repeat; background-attachment: fixed;
  background-size: cover;">
		<div>

			<h4 style="text-align: center; margin-bottom: 7px; color: #ffffff"><b>Enter the type of food, expiration date and amount, plus contact info</b></h4>
			<form method = "post" enctype = "multipart/form-data">
				{%csrf_token%}
				<div class="display-table">

					<input type = "text" name="name" value="food" style="width: 20%;
  padding: 16px 20px;
  border-radius: 4px;
margin-right: 15px;
border: 1px solid;" />
					<input type = "text" name="amount" value="0" style="width: 20%;
  padding: 16px 20px;
  border: none;
  border-radius: 4px;
margin-right: 15px;
border: 1px solid;" />
					<input type = "text" name="address" value="Address" style="width: 20%;
padding: 16px 20px;
border: none;
border-radius: 4px;
border: 1px solid;" />
                    <br>
					<input type = "date" name="expiration" style="width: 20%;
padding: 16px 20px;
border: none;
border-radius: 4px;
margin-top: 7px;
margin-right: 15px;
border: 1px solid;" />
<input type="tel" id="phone" name="phone"
       pattern="[0-9]{10}"
			 value="9876543210"
       required style="width: 20%;  border: 1px solid;
padding: 16px 20px;
border-radius: 4px;">
                    <br>
					<input type="submit" name="uploadSubmit" value="Upload" style="
  color: black;
  padding: 10px 32px;
  margin: 4px 2px;
  cursor: pointer;
border: 1px solid;
margin-top: 7px;"/>
				</div>
			</form>
			<h4 style="text-align: center;"><b>{{ result }}</b></h4>
		</div>
	</section><!-- section -->


	<footer style="background-color: #5cb85c;">

		<div class="container">
			<div class="row">

				<div class="col-lg-4 col-md-6">
					<div class="footer-section">

						<p class="logo" style="font-family: Roboto; font-weight: bolder; font-size: 30px; margin-top: 5px;">FoodZilla</p>
						<p class="copyright">by NobodyKeras</p>


					</div><!-- footer-section -->
				</div><!-- col-lg-4 col-md-6 -->

				<div class="col-lg-4 col-md-6">
						<div class="footer-section">
					</div><!-- footer-section -->
				</div><!-- col-lg-4 col-md-6 -->

			</div><!-- row -->
		</div><!-- container -->
	</footer>



	<!-- SCIPTS -->

	<script src="{% static 'common-js/jquery-3.1.1.min.js' %}"></script>

	<script src="{% static 'common-js/tether.min.js' %}"></script>

	<script src="{% static 'common-js/bootstrap.js' %}"></script>

	<script src="{% static 'common-js/scripts.js' %}"></script>

</body>
</html>
